---
layout: base
---

<body class="home">
  <div class="site-wrapper">
    <header>
      <h1><abbr title="Michael Camilleri">Mike Camilleri</abbr></h1>
    </header>

    {{ content }}

    <!--
    <nav>
      <ul>
        <li><a href="/blog/">blog</a></li>
        <li><a rel="me" href="https://linkedin.com/in/michaelpcamilleri">LinkedIn</a></li>
        <li><a rel="me" href="https://github.com/mikecamilleri">GitHub</a></li>
      </ul>
    </nav>
    -->
    <nav>
      <p>
        Please find my professional profile on
        <a rel="me" href="https://linkedin.com/in/michaelpcamilleri">LinkedIn</a>
        and my software projects on GitHub
        <a rel="me" href="https://github.com/mikecamilleri">GitHub</a>.
      </p>
    </nav>
  </div>
</body>