---
layout: default
---

        <nav class="meta breadcrumbs">
          <a href="{{ site.url }}/">{{ site.title }}</a>
          / <a href="{{ site.url }}/blog/">blog</a>
        </nav>
        <header>
          <h1>{{ page.title }}</h1>
        </header>
        {{ content }}
        <footer class="meta">
          <address>
            <a rel="author" href="/"><abbr title="Michael Camilleri">Mike Camilleri</abbr></a>
          </address>
          <div>
            <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>
          </div>

          <div class="license">
            {% if page.license %}
            {% assign license = site.data.licenses[page.license] %}
            <a rel="license" title="{{ license.description }}" href="{{ license.url }}">{{ license.title }}</a>
            {% else %}
            All rights reserved.
            {% endif %}
          </div>
        </footer>
